.image-form {
position: relative;
}

.image-form img{
  width: 100%;
  object-fit: cover;
}

#forBooks {
  float: left;
  position: absolute;
  right: 170px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 5fr);
  top: 0;
  z-index: 1000;
}
