<div class="image-form">
  <img src="assets/library1.jpg" alt="library">
  <div class="review-container">
    <div class="review-wrapper">
      <div *ngIf="reviews && !isLogged">
        <div *ngFor="let review of reviews" class="review-item">
          <h3>{{review.userId.username}}</h3>
          <p>{{review.text}}</p>
          <p>{{review.created_at}}</p>
        </div>
      </div>
      <div *ngIf="reviews && isLogged">
        <div *ngFor="let review of reviews" class="review-item">
          <h3>{{review.userId.username}}</h3>
          <h3>{{review.bookId.bookName}}</h3>
          <p>{{review.text}}</p>
          <p>{{pipe.transform(review.created_at, 'short')}}</p>
        </div>
      </div>
      <div *ngIf="!reviews">
        Loading...
      </div>
    </div>
    <div *ngIf="!isLogged">
      <p style="font-size: 18px"><i>If you want to find out for which books are these reviews or what are their
        prices </i></p>
      <p><i>you can </i> <a mat-raised-button routerLink="/user/login">LOGIN</a> or <a mat-raised-button
                                                                                       routerLink="/user/register">REGISTER</a>
      </p>
    </div>
  </div>
</div>
