<div class="image-form">
<!--  <img src="assets/library1.jpg" alt="library">-->
  <div *ngIf="reviews!.length === 0">Nothing to show</div>
  <div *ngIf="reviews!.length > 0" id="reviews">
    <div *ngFor="let review of reviews">'
      <mat-card class="review-item">
        <mat-card-header>
          <div mat-card-avatar class="review-image"></div>
          <mat-card-title>From <i>{{review.userId?.username || "No data to show"}}</i>
            for "{{review.bookId?.bookName || "No data to show"}}"</mat-card-title>
          <mat-card-content><b>{{review.text || "No data to show"}}</b></mat-card-content>
          <mat-card-subtitle>{{pipe.transform(review.created_at, 'short') || "No data to show"}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
