.review-container{
  float: left;
  position: absolute;
  right: 360px;
  width: 50%;
  display: inline-grid;
  grid-template-rows: repeat(2, auto);
  top: 0;
  z-index: 1000;
  background-color: aliceblue;
  text-align: center;
  margin-top: 12px;
}

.review-container a {
  text-decoration: none;
  color: inherit;
}

.review-container span {
  font-weight: bold;
}

.review-container h2, p {
  padding: 0.3em 0 0.2em;
  margin: 0;
}

.image-form {
  position: relative;
}

.image-form img{
  width: 100%;
  object-fit: cover;
}

.review-item {
  margin-top: 15px;
}
