<div class="image-form">
  <mat-card class="profile">
    <mat-card-header>
      <div mat-card-avatar class="profile-pic"></div>
      <mat-card-title>Username:</mat-card-title>
      <mat-card-subtitle>{{currentUser!.username}}</mat-card-subtitle>
      <mat-card-title *ngIf="currentUser!.books.length === 0">Books:</mat-card-title>
      <mat-card-subtitle>No books to show</mat-card-subtitle>
      <mat-card-title *ngIf="currentUser!.books.length > 0">Books:</mat-card-title>
      <mat-card-subtitle>{{currentUser!.books}}</mat-card-subtitle>
      <mat-card-title>Email:</mat-card-title>
      <mat-card-subtitle>{{currentUser!.email}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
