<header>
  <div class="home-nav">
    <div class="col-nav">
      <ul>
        <li>
          <a mat-stroked-button routerLink="/home">BOOKSTORE</a>
        </li>
      </ul>
    </div>
    <div id="nav-text">
      <i><p>Welcome to the biggest store for books</p></i>
    </div>
    <div class="col-nav">
      <ul>
        <li>
          <a mat-stroked-button routerLink="/user/login">LOGIN</a>
        </li>
        <li>
          <a mat-stroked-button routerLink="/user/register">REGISTER</a>
        </li>
        <li>
          <a mat-stroked-button routerLink="/book/allbooks">BOOKS</a>
        </li>
        <li>
          <a mat-stroked-button href="#">AUTHORS</a>
        </li>
      </ul>
    </div>

    <!-- when LOGGED in -->

    <!--        <div class="col-nav">-->
    <!--            <a href="#" class="button-nav">RANKINGS</a>-->
    <!--        </div>-->
    <!--        <div class="col-nav">-->
    <!--            <a href="#" class="button-nav">FAVOURITE BOOKS</a>-->
    <!--        </div>-->
  </div>
</header>
