<div class="book-container">
  <div class="book-name-wrapper">
    <div class="book-name">
      <a style="font-size: 13px" mat-raised-button routerLink="/book/details/{{book?._id}}" class="normal">
        <h2>{{book.bookName}}</h2>
      </a>
      <div>
        <div>
          <p>Date:
            <time>{{pipe.transform(book.created_at, 'short')}}</time>
          </p>
          <div class="nick-name">
            <p>Number of Reviews: <span>{{book.reviews.length}}</span></p>
          </div>
        </div>
        <div>
          <p>Subscribers: <span>{{book.subscribers.length}}</span></p>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
