<div class="image-form">

  <form [formGroup]="form" (ngSubmit)="registerHandler()" id="register-form">
    <h2>Registration Form</h2>
    <mat-form-field class="form-item">
      <mat-label>Email:</mat-label>
      <input matInput type="email" formControlName="email"/>
      <mat-hint align="end">Email must be correct</mat-hint>
      <mat-error *ngIf=" form.hasError('required', 'email')">Email is required</mat-error>
      <mat-error *ngIf=" form.hasError('email', 'email')">Email is not correct</mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
      <mat-label>Username:</mat-label>
      <input matInput type="text" formControlName="username"/>
      <mat-hint align="end">Enter your name</mat-hint>
      <mat-error *ngIf="form.hasError('required', 'username')">Username is required</mat-error>
      <mat-error *ngIf="form.hasError('minlength', 'username')">Username's minimum length is 3 symbols</mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
      <mat-label>Password:</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
      <mat-icon matSuffix class="material-icons" style="cursor: pointer;" (click)="toggleHide()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint align="end">Check if the caps lock is on</mat-hint>
      <mat-error *ngIf=" form.hasError('required', 'password')">Password is required</mat-error>
      <mat-error *ngIf=" form.hasError('minlength','password')">
        Password's minimum length is 5 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field class="register-form">
      <mat-label>Confirm password:</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm"/>
      <mat-icon matSuffix class="material-icons" style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint align="end">Must be the same as above</mat-hint>
      <mat-error *ngIf="form.hasError('rePasswordValidator', 'passwordConfirm')">Passwords do not match</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="form.invalid">Register</button>
    <button mat-raised-button type="button" (click)="resetRegistrationForm()">Reset</button>
    <div>
      <p>or <a style="font-size: 17px" mat-button routerLink="/user/login">LOG IN</a></p>
    </div>
  </form>
</div>
