<div class="not-found">
  <div class="not-found-img">
    <img src="assets/404-4.png" alt="not-found-too">
  </div>
  <div class="not-found-img" (mouseover)="rotate()">
    <img [@rotatedState]="state" src="../../assets/404-0.png" alt="not-found" id="zero">
  </div>
  <div class="not-found-img">
    <img src="assets/404-4.png" alt="not-found-too">
  </div>
  <div>
    <i><p>
      "It is only with the heart that one can see rightly,
      what is essential is invisible to the eye."
    </p></i>
    <p>Page not found. If you're lost go <i><a mat-button style="font-size: 20px" routerLink="/">home</a></i></p>
  </div>
</div>
